@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg-white {
  background-color: #c2cbd2 !important;
}

.custom-rounded {
  border-radius: 40px; 
}

.video-component{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
}